# Ignore everything
*

# But do not ignore directories themselves (this allows the negation rules for directories to work)
!*/

# Re-include these specific folders
!/.obsidian/
!/Banners/
!/20 Education/_attachments/
!/20 Education/_semester-template/
!/20 Education/23 Semester 1/
!/20 Education/24 Semester 2/
!/Templates/
!/Vault Assets/


# Re-include all contents within those specific folders recursively
!/.obsidian/**
!/Banners/**
!/20 Education/_attachments/**
!/20 Education/_semester-template/**
!/20 Education/23 Semester 1/**
!/20 Education/24 Semester 2/**
!/Templates/**
!/Vault Assets/**


# Re-include these specific files
!/20 Education/Education Hub.md
!/README.md
!/LICENSE
!/.gitignore


# Force Exclude
.DS_Store
.space
/20 Education/24 Semester 2/24.06 Position Writing/
/20 Education/24 Semester 2/24.06 Position Writing/**
/20 Education/22 Projects/afeka-proj-oop/
/20 Education/22 Projects/afeka-proj-oop/**
/20 Education/22 Projects/edu-bash-basics/
/20 Education/22 Projects/edu-bash-basics/**
/20 Education/22 Projects/edu-gradle-unit-testing/
/20 Education/22 Projects/edu-gradle-unit-testing/**
/20 Education/24 Semester 2/24.01 Java OOP/4 Dive In/
/20 Education/24 Semester 2/24.01 Java OOP/4 Dive In/**