.callout {
    margin-bottom: 12px !important;
    border-radius: 10px;
}


/* Apply transition to callouts */
.markdown-reading-view .callout {
  transition: 500ms; /* Smooth transition over 0.2 seconds */
}

/* Add float effect on hover */
.markdown-reading-view .callout:hover {
  transform: translateY(-4px); /* Lift the element up by 4 pixels */
  overflow: visible;
}


body.theme-dark .callout:hover {
  box-shadow: 0 5px 24px rgba(var(--callout-color), 0.2);
}

body.theme-dark .markdown-source-view .callout:hover {
  box-shadow: none;
  overflow: auto;
}

body.theme-light .callout:hover {
  box-shadow: 0 5px 24px rgba(var(--callout-color), 0.3);
}

body.theme-light .markdown-source-view .callout:hover {
  box-shadow: none;
  overflow: auto;
}


.callout-title-inner {
  color: var(--text-normal);
}

.callout-title-inner strong,
.callout-title-inner .internal-link:link {
  color: rgba(var(--callout-color)) !important;
}


/*
   Styles specifically for the callout in Live Preview (.markdown-source-view)
   to ensure no hover effects are applied (same as before).
*/