/* Custom Callout: 'toc' */
.callout[data-callout="toc"] {
	border: 0.15em solid #D4CDBB;
	--callout-color: #D4CDBB !important;
	font-family: SF Pro Rounded, SF Hebrew Rounded;
}

.callout[data-callout="toc"] .block-language-toc > ul > li > .internal-link {
  	font-weight: 1000 !important;
}

.callout[data-callout="toc"] .block-language-toc > ul > li > ul > li > .internal-link {
  	font-weight: 500 !important;
}

.callout[data-callout="toc"] li .internal-link {
  	font-weight: 200 ;
}


body.theme-dark .callout[data-callout="toc"]:hover {
	box-shadow: 0 3px 16px rgba(200, 193, 173, 0.15);
}


body.theme-light .callout[data-callout="toc"]:hover {
	box-shadow: 0 5px 24px rgba(200, 193, 173, 0.35);
}


.callout[data-callout="toc"] .callout-title-inner,
.callout[data-callout="toc"] .callout-title {
 	color: #D4CDBB !important;
 	font-style: italic;
 	font-weight: 600 !important;
 	text-shadow: 0.06em 0.06em 1.5px rgba(0, 0, 0, 0.8) !important;
 	font-family: Marlos !important;
 	font-size: 1.4em;
}

.callout[data-callout="toc"] .callout-title-inner{
	margin-top: -0.2em;
}