/* Custom styles for Highlightr highlighted text color and weight*/


/* === DEFINE THE DESIRED TEXT COLOR */
body {
    --highlightr-text-color: var(--color-accent); /* Use the light theme variable */
}


.highlightr-lowlight span.cm-highlight,
.highlightr-lowlight .markdown-preview-view mark,
.highlightr-floating span.cm-highlight,
.highlightr-floating .markdown-preview-view mark,
.highlightr-rounded span.cm-highlight,
.highlightr-rounded .markdown-preview-view mark,
.highlightr-realistic span.cm-highlight,
.highlightr-realistic .markdown-preview-view mark,
.cm-s-obsidian span.cm-highlight, /* General editor highlight selector */
.markdown-preview-view mark, /* General preview mark selector */
/* Added specificity for mark within callouts */
.callout mark,
.callout-content mark,
.cm-embed-block mark,
.cm-embed-block .callout mark,
.cm-embed-block .callout-content mark
{
    font-weight: 700 !important;
/*    color: var(--highlightr-text-color) !important;*/
/*    background: var(--background-primary) !important;*/
    color: #ffffff !important;
/*    --text-highlight-bg: rgba(255, 23, 68, 0.5);*/
/*        --text-highlight-bg: rgba(255, 185, 0, 0.25);*/
                --text-highlight-bg: rgba(34, 139, 226, 0.25);


    
}

@media print {
    .highlightr-lowlight span.cm-highlight,
    .highlightr-lowlight .markdown-preview-view mark,
    .highlightr-floating span.cm-highlight,
    .highlightr-floating .markdown-preview-view mark,
    .cm-s-obsidian span.cm-highlight, /* General editor highlight selector */
    .markdown-preview-view mark, /* General preview mark selector */
    /* Added specificity for mark within callouts */
    .callout mark,
    .callout-content mark,
    .cm-embed-block mark,
    .cm-embed-block .callout mark,
    .cm-embed-block .callout-content mark
{
    --lowlight-background: #ffffff !important;
}
}
