.markdown-rendered .dataview td:has(.cellTrue) {
  background-color: #50fa7b;
  color: black;
}

.markdown-rendered .dataview td:has(.cellFalse) {
  background-color: #FF5555;
  color: black;
}

.markdown-preview-view table {
  margin-left: auto;
  margin-right: auto;
}

.markdown-rendered .dataview td:has(.cellFalse) {
  margin-left: auto;
  margin-right: auto;
}

/*
author: FireIsGood
source: https://discord.com/channels/686053708261228577/702656734631821413/1112164539975340032
*/

:root table {
  border-collapse: separate !important;
  border-spacing: 0 !important;
}
th:first-of-type {
  border-top-left-radius: 8px !important;
}
th:last-of-type {
  border-top-right-radius: 8px !important;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px !important;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px !important;
}
/* == Table Styles == */

/* Basic table styling */
.markdown-rendered table,
.markdown-source-view.mod-cm6 table {
  width: 100%; /* Make table take full width of the content area */
}

/* Style table header cells */
.markdown-rendered th,
.markdown-source-view.mod-cm6 th {
  border: 0.8px solid var(--background-modifier-border); /* Border color using a theme variable */
  padding: 0.5em 1em; /* Add padding inside header cells */
  font-weight: bold; /* Make header text bold */
  font-size: 18px;
  text-align: left; /* Align header text to the left */
}

/* Style table data cells */
.markdown-rendered td,
.markdown-source-view.mod-cm6 td {
  border: 0.8px solid var(--background-modifier-border); /* Border color using a theme variable */
  padding: 0.4em 0.7em; /* Add padding inside data cells */
  text-align: left; /* Align data text to the left */
}