/* General and default image blending */

.theme-light img:not(.obsidian-banner img) {
  display: block;
  max-width: 100%;
  padding: 0 auto 0 auto;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
  filter: invert(0) contrast(1.04);
}


.theme-dark img:not(.obsidian-banner img) {
  display: block;
  max-width: 100%;
  padding: 0 auto 0 auto;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: screen;
  filter: invert(1) hue-rotate(180deg) contrast(1.04);
}

.theme-light .image-embed {
    mix-blend-mode: multiply;
}

.theme-dark .image-embed {
    mix-blend-mode: screen;
}

.cm-editor .cm-scroller {
    z-index: auto;
}


.markdown-source-view.mod-cm6 .cm-content > .cm-table-widget {
    contain: unset !important;
}

/*Emblemed images blending tweaks */

.theme-dark .popover.hover-popover .markdown-preview-view img {
  mix-blend-mode: normal;
  /*filter: opacity(1);*/
}

.theme-light .popover.hover-popover .markdown-preview-view img {
  mix-blend-mode: normal !important;
  /*filter: opacity(0.95);*/
}




/* Image dynamic colors inversion - NOT USED FOR NOW*/
/*
.theme-dark span[src$="invert_B"] img{
filter: invert(1) hue-rotate(180deg) contrast(1.2);
}

.theme-dark img[alt$="invert_B"]{
filter: invert(1) hue-rotate(180deg) contrast(1.2);
}

.theme-dark span[src$="invert_W"] img{
filter: invert(1) hue-rotate(180deg) contrast(1.2);
}

.theme-dark img[alt$="invert_W"]{
filter: invert(1) hue-rotate(180deg) contrast(1.2);
}

.theme-light span[src$="#invert_W"] img{
filter: invert(0) contrast(1.2);
}

.theme-light img[src$="#invert_W"]{
filter: invert(0) contrast(1.2);
}

.theme-light span[src$="#invert_B"] img{
filter: invert(0) contrast(1.2);
}

.theme-light img[src$="#invert_B"]{
filter: invert(0) contrast(1.2);
}
*/
