/* Apply transition to callouts */
.callout {
  transition-duration: 0.4s; /* Smooth transition over 0.2 seconds */
}

/* Add float effect on hover */
.callout:hover {
  box-shadow: 0 5px 36px rgba(var(--callout-color), 0.3);
  transform: translateY(-5px); /* Lift the element up by 10 pixels */
  overflow: visible !important;

}
